body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contBox {
    background-color: #37474f;
    color: aliceblue;
    border: 1px solid black;
    margin: 30px 150px;
    padding: 50px;
    box-sizing: border-box;
    min-width: 80vw;
    min-height: 60vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    
}

tr, th, td{
    border-bottom: 1px solid aliceblue;
    padding: 10px;
    box-sizing: border-box;
}


input , textarea {
    width: 100%;
    
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

textarea {min-height: 30vh;}


.form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px
}

.form a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.form a span {
    position: absolute;
    display: block;
}

.form a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.form a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.form a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.form a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.button {

    padding: 10px 30px;
    border: none;
    width: 170px;
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    border: 3px solid white;
    font-family: "Poppins", sans-serif;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 15px;
    overflow: hidden;
    transition: border-color 0.3s, color 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    
}


.button:focus {
    outline: none;
}

.button>span {
    vertical-align: top;
}

.button>span svg {
    vertical-align: top;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform-origin: 0% 100%;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.button:hover {
    color: black;
    border-color: white;
    cursor: pointer;
}

.button:hover::before {
    opacity: 1;
    background-color: white;
    transform: rotate3d(0, 0, 1, 0deg);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}


.warning-msg, .success-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}

.success-msg {
    color: #009f45;
    background-color: #b3feb8;
}